body{
    background-image: url("cork-board/cork-board.png");
}

#high-score{
    color: #ffffff;
}
.container{
   display:grid;
   justify-content: center;
   margin-top: 5%;
}
.jumbotron{
    border: 15px double #444444;
}
#time-remaining {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}