body {
  background-image: url("cork-board/cork-board.png");
}

#high-score {
  color: #ffffff;
  font-family: Optima, sans-serif;
  font-stretch: expanded;
  font-size: 20px;
}

.container {
  margin-top: 5%;
}
.jumbotron {
  border: 15px double #444444;
}
#time-remaining {
  color: #ffffff;
  font-size: 20px;
  font-stretch: expanded;
  font-family: Optima, sans-serif;
}
h1 {
  padding-bottom: 20px;
}
#choiceButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
